@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  min-height: 100vh;
  background-color: white; }
  body main {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    body main li {
      list-style: none; }
    body main a {
      text-decoration: none;
      color: #f2f2f2;
      font-size: 0.9rem;
      font-weight: 500; }
    body main .login-btns button {
      outline: none;
      border: none;
      padding: 0.8rem 1.8rem;
      border-radius: 20px;
      font-weight: 700;
      color: #f2f2f2;
      background-color: transparent; }
    body main .login-btns .active {
      background-color: white;
      color: #ff3d54; }
    body main a,
    body main button {
      font-family: "Ubuntu", sans-serif;
      cursor: pointer; }
    body main h1,
    body main h2,
    body main h3,
    body main p {
      font-family: "Overpass", sans-serif; }
    body main .container-fluid {
      width: 100%; }
      body main .container-fluid .container {
        width: 73%;
        background-color: rgba(0, 0, 0, 0.5);
        margin: auto; }
    body main .intro-fluid {
      background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(90deg, #ff8f70, #ff3d54);
      background-repeat: no-repeat;
      background-position: 23.5% 50%;
      border-bottom-left-radius: 100px; }
      body main .intro-fluid .intro {
        display: flex;
        flex-direction: column;
        height: 100%; }
        body main .intro-fluid .intro header {
          display: flex;
          align-items: center;
          line-height: 8rem;
          gap: 3.5rem; }
          body main .intro-fluid .intro header .nav-menu {
            display: flex;
            gap: 0rem 2rem; }
            body main .intro-fluid .intro header .nav-menu li a i {
              font-size: 0.7rem;
              transform: translate(5px, 1px); }
            body main .intro-fluid .intro header .nav-menu li .drop-down {
              display: none; }
          body main .intro-fluid .intro header .login-btns {
            margin-left: auto; }
        body main .intro-fluid .intro .info {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;
          margin: 4rem 0rem 8rem 0rem; }
          body main .intro-fluid .intro .info h1 {
            font-size: 3.6rem;
            color: white;
            line-height: 4rem; }
          body main .intro-fluid .intro .info p {
            color: #f2f2f2;
            font-size: 1.2rem; }
          body main .intro-fluid .intro .info .login-btns button:nth-child(2) {
            border: 1px solid white;
            margin-left: 1rem; }
    body main .designed-fluid .designed {
      width: 100%;
      display: flex;
      flex-direction: column; }
      body main .designed-fluid .designed .designed-info {
        width: 100%;
        height: 882px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative; }
        body main .designed-fluid .designed .designed-info h2 {
          text-align: center;
          font-size: 2rem;
          margin-top: 5rem;
          color: #1f3f5b; }
        body main .designed-fluid .designed .designed-info .contents {
          width: 50.2%;
          display: flex;
          flex-direction: column;
          padding-left: 13rem;
          margin-top: 8rem;
          gap: 4rem; }
          body main .designed-fluid .designed .designed-info .contents .content {
            display: flex;
            flex-direction: column;
            gap: 1rem; }
            body main .designed-fluid .designed .designed-info .contents .content h3 {
              font-size: 1.8rem;
              color: #1f3f5b; }
            body main .designed-fluid .designed .designed-info .contents .content p {
              font-size: 1.1rem;
              line-height: 1.8rem;
              color: #1f3f5b; }
        body main .designed-fluid .designed .designed-info img {
          position: absolute;
          right: -250px;
          z-index: -1;
          object-fit: cover;
          width: 60%; }
    body main .state-fluid {
      background: #2c2d3f;
      background-image: url("../images/bg-pattern-circles.svg");
      background-repeat: no-repeat;
      background-position: top -500px left -200px;
      position: relative;
      border-top-right-radius: 100px;
      border-bottom-left-radius: 100px; }
      body main .state-fluid .state {
        display: flex;
        align-items: center;
        height: 420px; }
        body main .state-fluid .state img {
          position: absolute; }
        body main .state-fluid .state .state-info {
          width: 50%;
          margin-left: auto;
          display: flex;
          flex-direction: column;
          gap: 1rem; }
          body main .state-fluid .state .state-info h2 {
            font-size: 2rem;
            color: white; }
          body main .state-fluid .state .state-info p {
            font-size: 1.1rem;
            line-height: 1.8rem;
            color: #cccccc; }
    body main .powerful-fluid .powerful {
      width: 100%;
      display: flex;
      flex-direction: column; }
      body main .powerful-fluid .powerful .powerful-info {
        width: 100%;
        height: 882px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative; }
        body main .powerful-fluid .powerful .powerful-info .contents {
          width: 50.2%;
          display: flex;
          flex-direction: column;
          padding-right: 13rem;
          margin-top: 12rem;
          margin-left: auto;
          gap: 4rem; }
          body main .powerful-fluid .powerful .powerful-info .contents .content {
            display: flex;
            flex-direction: column;
            gap: 1rem; }
            body main .powerful-fluid .powerful .powerful-info .contents .content h3 {
              font-size: 1.8rem;
              color: #1f3f5b; }
            body main .powerful-fluid .powerful .powerful-info .contents .content p {
              font-size: 1.1rem;
              line-height: 1.8rem;
              color: #1f3f5b; }
        body main .powerful-fluid .powerful .powerful-info img {
          position: absolute;
          left: -250px;
          top: 0px;
          z-index: -1;
          max-width: 974px;
          width: 100%; }
    body main .footer-fluid {
      background-color: #24242c;
      border-top-right-radius: 100px; }
      body main .footer-fluid .footer {
        padding: 5rem 0rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 13rem; }
        body main .footer-fluid .footer .footer-nav {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          flex-grow: 1; }
          body main .footer-fluid .footer .footer-nav span {
            color: white;
            font-family: "Ubuntu", sans-serif; }
          body main .footer-fluid .footer .footer-nav ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem; }
            body main .footer-fluid .footer .footer-nav ul a {
              color: #bfbfbf; }
